/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr .2fr 1.5fr 1.5fr 1.5fr 1.5fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "welcome welcome welcome welcome"
    "bio bio bio bio"
    "art-design art-design art-design art-design"
    "videography videography videography videography"
    "dev dev dev dev"
    "footer footer footer footer";
  grid-gap: o.2rem;
}
/* All NAV stylings */
nav {
  width: 99%;
  position: fixed;
  color: #cc5500;
  padding: 10px;
  text-align: right;
  grid-area: nav;
  background-color: white;
  box-shadow: 0 22px 60px 0 rgba(204, 85, 0, 0.6), 0 6px 40px 0 rgba(204, 85, 0, 0.40);
}

nav .social-links { display: inline-block;}

nav a {
  margin: 3px;
  color: #cc5500;
  text-decoration: none;
}

nav a:hover {
  color: #ff6a00;
}

/* Opening Welcome */
.opening-welcome {
  margin-top: 10px;
  margin-bottom: 50px;
  grid-area: welcome;
  font-family:roboto;

  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". headshot outer outer ."
    ". . arrow . .";
  grid-gap: 0rem;
}

#headshot{
  grid-area: headshot;
}
#headshot img {
  width: 270px;
  height: 270px;
}

.outer{
  position: relative;
  margin-top: 85px;
  margin-left: 25px;
  grid-area: outer;
}

.outer h1 { font-size: 55px;}

.inner {
  position: absolute;
  height: 55px;
  font-size: 55px;
  display: inline-block;
  overflow: hidden;
}

.inner span{
  animation:animate 10s ease infinite;
  position:relative;
  color:#cc5500;
}

@keyframes animate{
  0%,100%{top:0;}
  20%{top:0px;}
  25%{top:-65px;}
  45%{top:-65px;}
  50%{top:-130px;}
  70%{top:-130px;}
  75%{top:-200px;}
  90%{top:-200px;}
}

/* Bio */
#bio {
  grid-area: bio;
  font-size: 18px;
  padding: 35px;
  font-family: 'Noto Serif TC', serif;
  text-align: center;
  color: #adadad;
}

#text-block {
  padding: 20px;
  border: 2.5px solid #dedede;
  width: 80%;
  margin: auto;
  margin-bottom: 0;
}

#text-block h4 {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #b8b8b8;
}

/* Portfolio Container */
.portfolio {
  background: pink;
  grid-area: portfolio;
}

.section-title {
  margin: 50px;
  padding: 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 30PX;
}
/* Art & Design */
.art-design {
  margin-top: 100px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-gap: 9px;
  grid-row-gap: 0px;
  justify-content: center;
}

.grid-box img {
    width: 100%;
}

/* Videography */
.videography {
  margin-top: 60px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-gap: 9px;
  grid-row-gap: 30px;
  justify-content: center;
}
.video-container {
  color: #b36200;
  font-family: roboto;
}

/* Dev Projects */
.dev-container{
  grid-area: dev;
}





/* Footer */
footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  color: grey;
  grid-area: footer;
}
