@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1.5fr 1.2fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar welcome welcome welcome"
    "sidebar bio bio bio"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
}

nav {
  color: #cc5500;
  padding: 10px;
  text-align: right;
  grid-area: nav;
  box-shadow: 0 22px 30px 0 rgba(204, 85, 0, 0.2), 0 6px 20px 0 rgba(204, 85, 0, 0.19);
}

nav a {
  margin: 3px;
  color: #cc5500;
}

nav a:hover {
  color: #ff6a00;
}

.opening-welcome {
  margin-top: 50px;
  margin-bottom: 50px;
  /* background: green; */
  grid-area: welcome;
  font-family:roboto;

  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 2fr 2fr;
  grid-template-areas:
    ". . . . ."
    ". headshot outer outer ."
    ". . arrow . .";
  grid-gap: 0rem;
}

/* .opening-welcome i {
  margin-top: 30px;
  text-align: center;
  grid-area: arrow;
  width: 140px;
  color: #878787;
} */

#headshot{
  grid-area: headshot;
}
#headshot img {
  width: 270px;
  height: 270px;
  /* object-fit: contain; */
}

.outer{
  position: relative;
  margin-top: 85px;
  margin-left: 25px;
  grid-area: outer;
}

.outer h1 { font-size: 55px;}

.inner {
  position: absolute;
  height: 55px;
  font-size: 55px;
  display: inline-block;
  overflow: hidden;
}

.inner span{
  animation:animate 10s ease infinite;
  position:relative;
  color:#cc5500;
}

@keyframes animate{
  0%,100%{
    top:0;
  }
  20%{
    top:0px;
  }
  25%{
    top:-65px;
  }
  45%{
    top:-65px;
  }
  50%{
    top:-130px;
  }
  70%{
    top:-130px;
  }
  75%{
    top:-200px;
  }
  90%{
    top:-200px;
  }
}


.sidebar {
  background: blue;
  grid-area: sidebar;
}

#bio {
  grid-area: bio;
  font-size: 18px;
  padding: 35px;
  font-family: 'Noto Serif TC', serif;
  text-align: center;
  color: #adadad;
}

#text-block {
  padding: 20px;
  border: 2.5px solid #dedede;
  width: 80%;
  margin: auto;
  margin-bottom: 0;
}

#text-block h4 {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #b8b8b8;
}

.portfolio {
  background: pink;
  grid-area: portfolio;
}

footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  color: grey;
  grid-area: footer;
}
