.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 5fr 1.2fr 0.3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar welcome welcome welcome"
    "sidebar bio bio bio"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
}

nav {
  color: #cc5500;
  padding: 10px;
  text-align: right;
  grid-area: nav;
}

nav a {
  margin: 3px;
  color: #cc5500;
}

nav a:hover {
  color: #ff6a00;
}

.opening-welcome {
  background: green;
  grid-area: welcome;
}



.sidebar {
  background: blue;
  grid-area: sidebar;
}


.bio {
  background: red;
  grid-area: bio;
}

.portfolio {
  background: pink;
  grid-area: portfolio;
}

footer {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  color: grey;
  grid-area: footer;
}
